.bank-link {
  display: block;
  margin-top: 10px;
}

.account-block {
  border: 1px solid #dedede;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.remove-icon {
  float: right;
}

.json-result {
  margin-top: 10px;
  background-color: #f0f0f0;
}

.wizard-wrapper {
  padding: 15px;
  border: 1px solid #e9700c;
  background-color: #f07e14;
  border-radius: 4px;
  margin-bottom: 20px;
}

ol.wizard-strip {
  padding-bottom: 15px;
}

ol.wizard-strip > li {
  float: left;
  width: 25%;
  color: #fff;
  font-size: 1.3rem;
}

a.add-account {
  cursor: pointer;
}
