<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Patterns</a></li>
      <li class="breadcrumb-item"><a routerLink="/patterns/mediator">Mediator Pattern</a></li>
      <li class="breadcrumb-item active" aria-current="page">Without</li>
    </ol>
  </nav>
<div class="card">
  <div class="card-header">
    Bank accounts (WITH Mediator Pattern)
  </div>
  <div class="card-body" *ngIf="bankList">
    <form [formGroup]="form">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h5>Select Bank</h5>
            <select class="form-control" (change)="onBankChange($event.target.value)" formControlName="bankId">
              <option [value]="null">Select Bank</option>
              <option *ngFor="let bank of bankList" [value]="bank.id">{{ bank.name }}</option>
            </select>
          </div>
          <div class="col-4">
            <h5>Select Branch</h5>
            <select class="form-control" (change)="onSelectBranch($event.target.value)" formControlName="branchId">
              <option [value]="null">Select Branch</option>
              <option *ngFor="let branch of uiStateContext.branchList" [value]="branch.id">{{ branch.name }}</option>
            </select>
          </div>
          <div class="col-4" *ngIf="uiStateContext.showAccounts">
            <h5>Account Number</h5>
            <div formArrayName="accounts">
              <div *ngFor="let acct of form.get('accounts')['controls']; let i = index;" class="account-block">
                <div>
                  <span>Account {{ i + 1 }}</span>
                  <span *ngIf="form.get('accounts')['controls'].length > 1">
                    <fa-icon class="remove-icon" [icon]="faTimesCircle" title="Remove Account" (click)="removeAccount(i)"></fa-icon>
                  </span>
                </div>
                <div [formGroupName]="i" style="min-height: 40px;">
                  <div class="form-group">
                    <label for="accountNumber" class="control-label col-sm-12">Account Number: </label>
                    <div class="col-sm-12">
                      <input type="text" formControlName="accountNumber" class="form-control" required>
                    </div>
                  </div>
                </div>
              </div>
              <div>

                <a (click)="addAccount()">
                  <fa-icon [icon]="faPlus" class="blue"></fa-icon> Add Account
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary btn-sm" (click)="save()" [disabled]="!form.valid">Save</button>
    <button class="btn btn-default btn-sm" (click)="clearForm()" [disabled]="uiStateContext.isDisabled">Clear</button>
  </div>
</div>
<div class="card json-result" *ngIf="uiStateContext.result">
  <div class="card-header">Payload ready to be sent to your Api service</div>
  <div class="card-body">
    <pre>{{ uiStateContext.result }}</pre>
  </div>
</div>
