<h1>Guidelines for contributing</h1>
<p>The purpose of this website is not to just explain the various design patterns, which has been done by many other websites, but do it better than all the other websites.</p>
<p>The way to do that is to present real-world practical examples of how design patterns can be used in everyday applications.</p>
<p>In order for your contribution (pull request) to be accepted, you must follow these guidelines:</p>
<ol>
  <li><b>Execution</b> - you must build a small set of components that implement your design pattern in a real-world scenario.
    This means actually building a working version of the design pattern module and not just showing the code.  So build working components and views for the user to interact with so they can see how it works.</li>
  <li><b>Explanation</b> - you must provide a clear description of how your implementation of the design patterns is executed in this scenario, and how it relates to the specs for the design pattern.</li>
  <li><b>Hello World and To Do</b> - any examples that simple display "Hello World", or create a To Do application, will be rejected.  These examples MUST be real-world application scenarios, not "beginner" scenarios.</li>

</ol>
