<div class="row">
  <div class="col-md-12">
    <h1>Strategy Pattern</h1>
    <div class="author">
      by <a href="http://www.kingwilder.com" target="_blank">King Wilder</a>
    </div>
    <blockquote>
      The strategy pattern (also known as the policy pattern) is a behavioral software design pattern that enables selecting an algorithm at runtime. Instead of implementing a single algorithm directly, code receives run-time instructions as to which in a family of algorithms to use.
    </blockquote>
    <p>
      This pattern is useful if you find yourself in a situation where you are using either a switch statement or if/else with many branches.
      It's best to break that functionality out into separate classes that handle just the logic for that strategy.
    </p>
    <h3>Temperature Converter</h3>
    <p>In this sample application, we will convert temperatures from Fahrenheit to Celsius to Kelvin.  </p>
    <p>In the example with the pattern, I encapsulate the formulas for each conversion in it's own class, that is composed into a conversion class.
      There is more code in the Strategy version, but in larger applications the strategy pattern helps to make ongoing management of the application easier.
    </p>
    <p>
      <a routerLink="/patterns/strategy/without">Without the Strategy Pattern</a><br>
      <a routerLink="/patterns/strategy/with">With the Strategy Pattern</a>
    </p>

  </div>
</div>
