<div class="row">
  <div class="col-md-12">
    <h1>Strategy Pattern</h1>
    <blockquote>
      The strategy pattern (also known as the policy pattern) is a behavioral software design pattern that enables selecting an algorithm at runtime. Instead of implementing a single algorithm directly, code receives run-time instructions as to which in a family of algorithms to use.
    </blockquote>
    <p>
      This pattern is useful if you find yourself in a situation where you are using either a switch statement or if/else with many branches.
      It's best to break that functionality out into separate classes that handle just the logic for that strategy.
    </p>
    <h3>Title</h3>
    <p>description...</p>
    <p>
      <a routerLink="patterns/strategy/with">With the Strategy Pattern</a>
    </p>
    <p>{{ message }}</p>
  </div>
</div>
