<table class="table">
  <colgroup>
    <col id="item">
    <col id="quantity">
    <col id="itemprice">
    <col id="total">
  </colgroup>
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th class="header-item-price">Item Price</th>
      <th class="header-total">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cart of shoppingCart.items">
      <td>{{ cart.name }}</td>
      <td class="quantity">1</td>
      <td class="item-price">{{ cart.price | currency }}</td>
      <td class="item-total">{{ cart.price | currency }}</td>
    </tr>
    <tr class="total-block">
      <td colspan="3" class="cart-total">Subtotal:</td>
      <td class="amount-column">{{ shoppingCart.subTotal | currency }}</td>
    </tr>
    <tr>
      <td colspan="3" class="cart-total">Tax:</td>
      <td class="amount-column">{{ shoppingCart.tax | currency }}</td>
    </tr>
    <tr>
      <td colspan="3" class="cart-total">Cart Total:</td>
      <td class="amount-column">{{ shoppingCart.total | currency }}</td>
    </tr>
  </tbody>
</table>
