<div class="card">
  <div class="card-header">
    Bank Accounts (without Mediator Pattern)
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h5>Select Bank</h5>
          <select class="form-control">

          </select>
          <a class="bank-link">
            <fa-icon [icon]="faPlus" class="blue"></fa-icon> Add Bank</a>
        </div>
        <div class="col-4">
          <h5>Select Branch</h5>
          <select class="form-control">

          </select>
          <a class="bank-link"><fa-icon [icon]="faPlus" class="blue"></fa-icon> Add Branch</a>
        </div>
        <div class="col-4">
          <h5>Account Number</h5>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary btn-sm">Save</button>
  </div>
</div>
