<app-floating-cart></app-floating-cart>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Patterns</a></li>
    <li class="breadcrumb-item"><a routerLink="/patterns/state">State Pattern</a></li>
    <li class="breadcrumb-item active" aria-current="page">With</li>
  </ol>
</nav>

<app-cart-progress-bar></app-cart-progress-bar>

<div *ngIf="selectedIndex" style="height: 388px;">
  <app-dynamic-content [dynComponents]="components" [selectedIndex]="selectedIndex"></app-dynamic-content>
</div>

<div class="command-buttons">
  <div class="row">
    <div class="col-3">
      <button class="btn btn-default" (click)="back()" *ngIf="currentState.btnText && currentState.index > 0">Back</button>
      <button class="btn btn-primary" (click)="next()" *ngIf="currentState.btnText">{{ currentState.btnText }}</button>
      <button class="btn btn-success" (click)="continueShopping()" *ngIf="!currentState.btnText">Back to Shopping</button>
    </div>
    <div class="col">
      <div class="alert alert-danger" *ngIf="errorMessage" role="alert">{{ errorMessage }}</div>
    </div>
  </div>
</div>
