<div class="row">
  <div class="col-md-12">
    <h1>Practical Design Patterns in Typescript</h1>
    <p>This application has a selection of design patterns implemented in Typescript and Angular 5+.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Creational Patterns</h3>
    <ul>
    <li><b>Abstract Factory Pattern</b></li>
    <li><b>Builder Pattern</b></li>
    <li><b>Factory Method Pattern</b></li>
    <li><b>Prototype Pattern</b></li>
    <li><b>Singleton Pattern</b></li>
    </ul>
  </div>
  <div class="col-md-4">

    <h3>Structural Patterns</h3>

    <ul>
    <li><b>Adapter Pattern</b></li>
    <li><b>Bridge Pattern</b></li>
    <li><b>Composite Pattern</b></li>
    <li><b>Decorator Pattern</b></li>
    <li><b>Facade Pattern</b></li>
    <li><b>Flyweight Pattern</b></li>
    <li><b>Proxy Pattern</b></li>
    </ul>

  </div>
  <div class="col-md-4">
    <h3>Behavioral Patterns</h3>
    <ul>
    <li><b>Chain of Responsibility Pattern</b></li>
    <li><b>Command Pattern</b></li>
    <li><b>Interpreter Pattern</b></li>
    <li><b>Iterator Pattern</b></li>
    <li><b><a routerLink="/patterns/mediator">Mediator Pattern</a></b></li>
    <li><b>Memento Pattern</b></li>
    <li><b>Observer Pattern</b></li>
    <li><b>State Pattern</b></li>
    <li><b>Strategy Pattern</b></li>
    <li><b>Template Method Pattern</b></li>
    <li><b>Visitor Pattern</b></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>If you would like to contribute, please follow the <a routerLink="/guidelines">guidelines</a>.</p>
    <p><a href="https://github.com/kahanu/DesignPatternsInTypescript/" target="_blank">Back to github site.</a></p>
  </div>
</div>
