<div class="row">
  <div class="col-md-12">
    <h1>Mediator Pattern</h1>
    <p>This pattern is useful in the UI to manage state for different components.</p>
    <h3>Bank Accounts</h3>
    <p>This example application demonstrates how the Mediator pattern can manage the states of the various UI controls on your web application as you change the state of any other control.</p>

    <p>
      <a routerLink="/patterns/mediator/without">Without the Mediator Pattern</a><br>
      <a routerLink="/patterns/mediator/with">With the Mediator Pattern</a>
    </p>
  </div>
</div>
