<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Patterns</a></li>
    <li class="breadcrumb-item"><a routerLink="/patterns/strategy">Strategy Pattern</a></li>
    <li class="breadcrumb-item active" aria-current="page">With</li>
  </ol>
</nav>
<div class="card">
  <div class="card-header">
    Temperature Converter (WITH pattern)
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline" [formGroup]="temperatureForm">
            <div class="form-group col-md-3">
              <label>Convert temperature</label>
            </div>
            <div class="form-group col-md-4">
              <input type="number" class="form-control" formControlName="temperature" />
              <select class="form-control" formControlName="convertFrom">
                <option value="0">&deg; F</option>
                <option value="1">&deg; C</option>
                <option value="2">&deg; K</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <select class="form-control" formControlName="convertTo">
                <option value="0">To Fahrenheit</option>
                <option value="1">To Celsius</option>
                <option value="2">To Kelvin</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <button class="btn btn-primary" (click)="convert()">Convert</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="convertedResult">
          <h3 [innerHTML]="convertedResult"></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">

  </div>
</div>
