<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Patterns</a></li>
    <li class="breadcrumb-item"><a routerLink="/patterns/strategy">Strategy Pattern</a></li>
    <li class="breadcrumb-item active" aria-current="page">With</li>
  </ol>
</nav>
<div class="card">
  <div class="card-header">
    Temperature Converter (WITH pattern)
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="temperatureForm">
            <div class="form-row">
              <div class="form-group col-md-3">
                <label class="control-label">Convert temperature</label>
              </div>
              <div class="form-group col-md-1">
                <input type="number" class="form-control" formControlName="temperature" />
              </div>
              <div class="form-group col-md-1">
                <select class="form-control" formControlName="convertFrom">
                  <option value="0">&deg; F</option>
                  <option value="1">&deg; C</option>
                  <option value="2">K</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <select class="form-control" formControlName="convertTo">
                  <option value="0">To Fahrenheit</option>
                  <option value="1">To Celsius</option>
                  <option value="2">To Kelvin</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <button class="btn btn-primary" (click)="convert()">Convert</button>
              </div>
              <div class="form-group col-md-3">
                <div *ngIf="convertedResult">
                  <h3 [innerHTML]="convertedResult"></h3>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-danger" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            The strategy pattern allows you to easily extend the functionality as the needs arise.
          </p>
          <p>
            <i>
              <b>Disclaimer: </b> this is a fairly simplistic example for the strategy pattern but it demonstrates how you can use it to
              encapsulate different algorithms.  In a larger application with many possible options to the strategy, this is a viable solution.
            </i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
